.account-balance-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    height: 100%;
}

@media (min-width: 992px) {
    .account-balance-chart-container {
        flex-direction: row;
    }
}


.chart-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

svg {
    width: 100%;
    height: 100%;
}

.chart-center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.2;
}

.legend-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.legend-item {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.legend-color-box {
    width: 14px;
    height: 14px;
    border-radius: 4px;
    margin-right: 0.75rem;
    flex-shrink: 0;
}

.legend-label {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-primary);
}

.legend-value {
    margin-left: 1rem;
    font-weight: 600;
    color: var(--text-secondary);
}
